/* 
    META ELEMENTS AND BACKGROUND
*/

@font-face {
    font-family: 'vintage';
    src: url('/fonts/vintage.ttf') format('truetype');
}

* {
    font-family: 'vintage';
}

html {
    background-color: #d5d5fe !important;
}
/* 
        NAVBAR
*/

.navbar {
   background-color: #3d3e6a !important;
}

.navbar-menu {
    background-color: #3d3e6a !important;
}

h1.title {
    color: #EEEEEE;
    align-self: center;
    -webkit-user-drag: none;
    user-select: none;
}

span {
    color: #EEEEEE;
}

div.buttons {
    padding: 0 !important;
    top: 0 !important;
    margin: 0 !important;
}

a.button:hover {
    -webkit-user-drag: none;
    user-select: none;
}

/* BODY */

/* PHOTO FRAME */


div.img-frame{
    border: .5rem solid #EEEEEE !important;
    border-radius: 2px !important;
    background-color: #EEEEEE;
    display: grid;
    place-items: center;
}

div.img-frame img {
    cursor: pointer;
    overflow: hidden;
}

@media (min-width: 1024px) {
    div.img-frame{
      max-width: 30%;
    }
}

@media (max-width: 1024px) {
    div.img-frame{
      max-width: 80%;
      margin: 0 auto;
    }
  }

div.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* IMAGES MODAL */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal img {
    width: 50%;
    object-fit: cover;
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}