* {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
        background-color: #212121;
}

/* 
        NAVBAR
*/

ul.navigation {
        position: fixed;
        top: 0;
        margin-top: 0;
        list-style-type: none;
        width: 100%;
        height: fit-content;
        padding: 0;
        overflow: hidden;
        background: #000000 !important;
        z-index: 10;
    }
    
    .right {
        float: right;
        height: 100%;
    }
    
    .left {
        float: left;
        height: 100%;
    }
    
    a.button:hover{
        -webkit-user-drag: none;
        user-select: none;
    }