/* 
    META ELEMENTS AND BACKGROUND
*/

@font-face {
    font-family: 'vintage';
    src: url('/fonts/vintage.ttf') format('truetype');
}

* {
    font-family: 'vintage';
}

html {
    background-color: #d5d5fe !important;
}
/* 
        NAVBAR
*/

.navbar {
   background-color: #3d3e6a !important;
}

.navbar-menu {
    background-color: #3d3e6a !important;
}

h1.title {
    color: #EEEEEE;
    align-self: center;
    -webkit-user-drag: none;
    user-select: none;
}

span {
    color: #EEEEEE;
}

div.buttons {
    padding: 0 !important;
    top: 0 !important;
    margin: 0 !important;
}

a.button:hover {
    -webkit-user-drag: none;
    user-select: none;
}

/* BODY */

@media (max-width: 1024px) {
    #topo{
        display: none !important;
    }
}

/* PHOTO FRAME */


div.img-frame{
    border: .5rem solid #EEEEEE !important;
    border-radius: 2px !important;
    background-color: #EEEEEE;
    display: grid;
    place-items: center;
}

div.img-frame img {
    cursor: pointer;
    overflow: hidden;
}

@media (min-width: 1024px) {
    div.img-frame{
      max-width: 30%;
    }
}

@media (max-width: 1024px) {
    div.img-frame{
      max-width: 80%;
      margin: 0 auto;
    }
  }

div.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* IMAGES MODAL */

span.lb-caption {
    font-family: 'JetBrains Mono'
}

div.img-frame a, div.img-frame a img{
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}